/* div{
    height:100px;
    width:100px;
    text-align: center;
    margin:10px auto;
    box-shadow: 2px 2px 10px black;
    background-color: red;
} */



div{
    height:100px;
    width:100px;
    text-align: center;
    margin:10px auto;
    box-shadow: 2px 2px 10px black;
    background-image:url("image.jpg");
    background-size: contain;
    transform: scaleY(30px);
}