h1{color:rgb(255,255,255);}
h1{color:#fff;}
h1{background-color: #000;}

h2{color:rgb(0,0,255);}
h2{color:#0000ff;}
h2{background-color: red;}

h3{color:#ffff00;}
h3{color:rgb(255,255,0);}
h3{color:rgb(0,255,0);}